<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title id="topTitle" th:text="${title}">欢迎登录总控管理系统</title>
<link href="/uimaker/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body style="background-color:#1c77ac; background-image:url(/uimaker/images/light.png); background-repeat:no-repeat; background-position:center top; overflow:hidden;">
    <div id="mainBody">
      <div id="cloud1" class="cloud"></div>
      <div id="cloud2" class="cloud"></div>
    </div>

<div class="logintop">
    <span id="spanTitle" th:text="${title}">欢迎登录总控管理系统</span>
    <ul>
    <li><a href="#" id="guidepage">回引导页</a></li>
    <li><a href="#">帮助</a></li>
    <li><a href="#">关于</a></li>
    </ul>
    </div>

    <div class="loginbody">

    <span class="systemlogo"></span>

    <div class="loginbox">

        <ul>
            <li><input name="loginaccount" type="text" class="loginuser" value="" onclick="JavaScript:this.value=''"/></li>
            <li><input name="password" type="password" class="loginpwd" value="" onclick="JavaScript:this.value=''"/></li>
            <li><input type="button" class="loginbtn" value="登录" onclick="login_login();" /><label><input name="" type="checkbox" value="" checked="checked" />记住密码</label><label><a href="#">忘记密码？</a></label></li>
        </ul>

    </div>
    <!--onclick="javascript:window.location='main.html'"  -->
    </div>



    <div id="bottom_mian" class="loginbm">总控管理系统</div>

    <div th:replace="footer :: footer">...</div>
</body>
<script th:src="@{/js/login.js}" type="text/javascript"></script>
<script src="/js/canvas-nest.js" type="text/javascript"></script>
<script th:inline="javascript">
    $(function(){
       $('.loginbox').css({'position':'absolute','left':($(window).width()-692)/2});
        $(window).resize(function(){
            $('.loginbox').css({'position':'absolute','left':($(window).width()-692)/2});
        })
        getNavList();
        document.onkeydown = function (event) {
            var e = event || window.event;
            if (e && e.keyCode == 13) { //回车键的键值为13
                event.preventDefault();
                login_login();
            }
        };
    });
</script>

</html>
