<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>action is everything</title>
</head>
<body>
<div  data-th-fragment="page">
    <div id="pagelistview" class="container-fluid"></div>
    <div id="paging"  class="layui-box layui-laypage layui-laypage-molv" style="text-align:center;cursor:pointer;">

        <script th:inline="javascript">

            var result=[[${result}]];
            var pagelist;
            var pageparam;
            if (null!=result) {
                pageshow(result);
            }

            function pageshow(data){
                pagelist=data.data.pagelist;
                pageparam=data.data.pageparam;
                $("#pagelisttemplates_tbody").html("");//清空tbody数据
                $("#paging").html("");//清空分页数据
                //*存在问题：页面初步加载没有数据的时候table的thead也不会加载...
                if (isNotEmpty(pagelist)) {
                    detail();
                    showpagetohtml();
                }

            }

        </script>
    </div>
</div>
</body>
</html>